body {
    display: flex;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #333333;
    color: #FFFFFF;
}

.memoList {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #222222;
}

.deleteBtn {
    margin-left: auto;
    color: #FFFFFF;
}

.memoMain {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    background-color: #222222;
}

.note {
    background-color: #222222;
    overflow-y: auto;
}

.mainContents {
    background-color: #111111;
    font-size: 160%;
    padding: 20px;
    color: #FFFFFF;
}

button:active {
    background-color: #444444;
}

.note,
.mainContents {
    height: 100vh;
}

.top {
    padding: 10px;
    height: 40px;
    border-bottom: 1.5px solid #FFFFFF;
    border-right: 1.5px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button-list {
    padding: 0;
    margin: 0;
    max-height: 200px;
    display: flex;
    flex-direction: column;
}

.button-list li {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 90%;
    list-style-type: none;
    border-bottom: 1.5px dotted #888888;
    padding: 10px;
}

.timePreview {
    display: flex;
    font-size: 80%;
}

.button-list li:active {
    background-color: #555555;
}

.button-list .btnTitle {
    font-weight: bold;
}

.button-list .btnTime {
    margin-top: 5px;
    flex-grow: 1;
}

.button-list .btnPreview {
    margin-top: 5px;
    flex-grow: 4;
    width: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

button {
    font-size: 30px;
    background-color: inherit;
    border-style: none;
}

.mainContents::placeholder {
    color: #AAAAAA;
}

.button-list li.selected {
    background-color: yellow;
}

.memoList {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #222222;
}

.note,
.mainContents {
    height: 100vh;
}